<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/200499506_490177708763984_9117237272724062998_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeHnY4-9F0WvqQZpm3OBVHSY0F1lorVh58zQXWWitWHnzJ2tRPXZDdx4AcUIdUgmC36HE1A3AUZFB_am8e1AHue4&_nc_ohc=dsqTcFFDbTQAX8whtod&tn=QdSDpqV_qJ0Be2OQ&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=4b623be9efe29435827e364e6604cc8f&oe=60CFE568" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/201832177_480408466362673_2878280325768504184_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeHBngrxu5hRhY0FnDKhGvN9FULr84gnRYYVQuvziCdFhlun5ruyof9cFll0xvJeoUiKgXZplYktPKm0HsK_ybDJ&_nc_ohc=MaP_K3t1XyMAX9vXKyH&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=78df0dbdbf517a75c77d00005616ad0c&oe=60D0A28F" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/131437531_351522369650597_6393093714079440675_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeE7a_gLbuxf8_Vi7s9tsYcxcSaHkdNXi9ZxJoeR01eL1uuvU-rLglpe0cxkAfGDlZlc5ztqivPZOmZ70lOYg9VB&_nc_ohc=2cnOqGRYP3EAX-pmGFT&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=8de0192674b7b5038b14e5db535629aa&oe=60CEDCBE" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/199301788_1425028767896080_7937352508184488423_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFcSw4SjqNBE6Ro-Fr513JHQbemMylw6HhBt6YzKXDoeBM-tGVlXmN15E-nW5-dGgktGD3LJA2la25OiL3Ev5th&_nc_ohc=XtTTLT1ZbzIAX_BgQD6&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=21b5fda6181eead0bdba323fbd946a0f&oe=60CEE5DA" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/160408549_530404025007570_3336948059682443934_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEgCMoBPfhjMXI3XOhdE_Jb2bkp_4AtAZrZuSn_gC0BmjvfrsKnBPut5R9-YW9SGWMIeT2n-wnFlcaknEeL4hvM&_nc_ohc=Jdl9qKUab08AX8C3N0V&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=3506b918f95026bf5044d839240f2647&oe=60CF25C2" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/202030079_790697741589052_6928624275824645870_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeETAJS1UDGj7hJujosHCmmn5qwNUbTIqD_mrA1RtMioP6Ju9vq7aquzwDDw8wKLyw331-omRLBhmj6p_DZyTces&_nc_ohc=maF_scve1bUAX86uPaz&tn=QdSDpqV_qJ0Be2OQ&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=cc290d702624a89411f5b6bcbf651094&oe=60CFB7B6" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/200004319_932526547315207_1057644925087508643_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeEtCLqRpAEobwJtEmvzU4IrGKmKawDE2J8YqYprAMTYn3R4BdSXG7uYG4Zkds4oSbD6h8WFf5ipPHjPCMoD7545&_nc_ohc=uo85s14lkEkAX9uYmS9&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=96ab6f0dd7ef388dd92eef7d882396e1&oe=60CED2E4" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/200553285_354002716145938_1625614358376679214_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFW1sKQNfi3C9vidk02wST1oituyZMEHwuiK27JkwQfC5zf-JYVkYJiTbyu3aHuGQUpt4056WsQ5tyigQ0-Hugt&_nc_ohc=_QRs9RVVGE8AX8QhzKc&tn=QdSDpqV_qJ0Be2OQ&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=fe7e829ec68483ca9c82886274f11bb7&oe=60CF4614" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/202426928_113422200865464_5601534765203302630_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFVv-hzYsBqR952Y0tjL0GanmPLMmKGIXueY8syYoYhe_GyBf_ttXeakzBSyKZHwwKVSz3SRWJHN8R2c_E0lMPq&_nc_ohc=RRw07YXwB2EAX_lDpGg&tn=QdSDpqV_qJ0Be2OQ&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=89de34974d3c7458fb11f6d89bde3984&oe=60CEB811" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/200724657_3612269885541310_5303540200387004710_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeGyq6NjuZC6ePVnNbJDg4vlsfqjQ7L_TH6x-qNDsv9MfginY1_yfAZ9JoaEQI8yJZlpRaDlIJkNpRHV-V33xqGw&_nc_ohc=Uf-4r9jtqZsAX-JRsvf&_nc_oc=AQlOD6BW1PlI9nrgWmU4GwzOkvc_224IehbiOLqrtN3MRFA0-IybRTeUu1fmCEff4BY&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=ec4786eb8de31f93cf0ad383dfcfb9ed&oe=60CF0F86" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/s526x395/200745121_300439531775271_6366362412812522329_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeG3HOnbsX40Q_EcryUoCksYQOx0wa4vjTtA7HTBri-NO0mGQHtFd8I6V7Xpq9UKw1ffyV-KYxmM6DWMw2nWW1SU&_nc_ohc=a-zcMCcRMugAX-5CYAk&_nc_ht=scontent.fdvo1-1.fna&tp=9&oh=c143bbf72bb1b3476e091315e43f7b3f&oe=60D046C8" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/199687277_782188462475178_5168185188371770113_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFze-liYEtyTQu0DE7iwRoEgPMzzgEdTBCA8zPOAR1MEDoUNtKPBSRo27v9tXvqHGk8MejAr3Ak8skcRHXdZJI_&_nc_ohc=sI0-seMmvzAAX866k9W&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=fb9debe1d053e28a598e0cde29bf48f4&oe=60CF279F" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/199828933_538438390728665_2416455847885975232_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFPDEalQZbhYClH4_mwuo1wUZ9GRkL8f2FRn0ZGQvx_YQpfRy7cTEzWBFa_3DCNoqmXSdD5E4550ux1pxYRiET3&_nc_ohc=MCkvhDg-2k0AX_VRdYD&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=48fa113ed354da6defb6f9599ff2e477&oe=60D045C4" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p320x320/198082625_1147996872332680_5359801943427005526_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeGI0RqNXul3j54p4nXHO-w94zZs-jZrumPjNmz6Nmu6Y4FTs5sKyT0M04wZDtV9CX8AOgVUfLAIehCEwArVXt92&_nc_ohc=NuKyzw0FBvEAX_vKPFl&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=ad6224e46264bd0096af1c927307dad3&oe=60D055D9" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.15752-0/cp0/e15/q65/p296x100/152829992_434506811199159_7063715606105513028_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=58c789&efg=eyJpIjoiYiJ9&_nc_eui2=AeFBUrhO3aKa_sD4iJ7JbKdYnM3oWFcepFqczehYVx6kWibrDBeFJD5ceNIlZYEZr_pdjEnr2PzxnCLUQpeA6cst&_nc_ohc=-l17-55nJYYAX_4hqfw&_nc_ht=scontent.fdvo1-1.fna&tp=3&oh=886ef7853dcafd4ffa0e84aaf3d9e1d9&oe=60CFD427" alt=""></h1>
        </ion-slide>
    </ion-slides>
    </ion-content>


</ion-content>