ion-img {
    box-shadow: 0 4px 8px 0 rgba(0, 10, 10, 0.2);
    max-width: 320px;
    margin: auto;
    text-align: center;
    margin-bottom: 1.2%;
    float: right;
  }
ion-card-title{
    font-size: 30px;
  }
ion-card-content{
  font-size: 20px;
}